# DevBoard02 NRF52840 board configuration

# Copyright (c) 2018-2020 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BOARD_DEVBOARD02
	# The GPIO driver is required by this board's initialization code
	# (board.c), so it is forced here to be enabled always, not only
	# enabled by default (in defconfig).
	select GPIO if BOARD_DEVBOARD02_NRF52840

if BOARD_DEVBOARD02_NRF52840

module = BOARD_DEVBOARD02
module-str = Board Control
source "subsys/logging/Kconfig.template.log_config"

endif # BOARD_DEVBOARD02_NRF52840
